.header {
  background-color: $light-mode-elements;
  margin-bottom: 5rem;
  height: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 10rem 0 10rem;

  &__title {
    font-size: 24px;
  }
  &__subtitle {
    font-size: 16px;
    cursor: pointer;
    display: flex;
    align-items: center;
  }
  &__button {
    display: none;
  }
  &__icon {
    width: 20px;
    height: 20px;
    margin: 0;
    padding: 0;
    margin-right: 0.3rem;
  }
}

.dark-mode .header {
  background-color: $dark-blue-elements;
  color: $dark-mode-text;
}
