.article__header {
  height: 56px;
  margin-bottom: 5rem;
  display: flex;
  justify-content: space-between;

  @media screen and (max-width: 800px) {
    flex-direction: column;
    height: auto;
    gap: 1rem;
  }
}

.form {
  display: flex;
  margin: 0;
  padding: 0 1.5rem;
  border-radius: 0.5rem;
  height: 56px;
  align-items: flex-start;
  width: auto;
  max-width: 480px;
  background-color: $light-mode-elements;
  display: flex;
  box-shadow: $box-shadow-input;
  align-items: center;

  &__icon {
    height: 18px;
    width: 18px;
    margin-right: 0.5rem;
  }

  &__input {
    border: none;
    outline: none;
    font-size: 14px;
    width: 100%;
    background-color: $light-mode-elements;
  }
}

.dark-mode .form {
  background-color: $dark-blue-elements;
  color: $dark-mode-text;
}

.dark-mode .form__input {
  background-color: $dark-blue-elements;
  color: $dark-mode-text;
}

.regions {
  background-color: $light-mode-elements;
  box-shadow: $box-shadow-input;
  width: 200px;
  height: 56px;
  font-size: 14px;
  border-radius: 0.5rem;
  padding: 1rem;
  border: none;
  outline: none;
  font-weight: 100;

  &__options {
    width: 200px;
    font-size: 14px;
    padding: 1rem;
    border: none;
    outline: none;
  }
}

.dark-mode .regions {
  background-color: $dark-blue-elements;
  color: $dark-mode-text;
}
