$dark-blue-elements: hsl(209, 23%, 22%);
$very-dark-blue-bg: hsl(207, 26%, 17%);

$very-dark-blue-text: hsl(200, 15%, 8%);
$dark-gray-input: hsl(0, 0%, 52%);
$very-light-gray-bg: hsl(0, 0%, 98%);
$white: hsl(0, 0%, 100%);

$box-shadow-card: 0px 0px 7px 2px rgba(0, 0, 0, 0.0294);
$box-shadow-input: 0px 2px 9px 0px rgba(0, 0, 0, 0.0532);
$box-shadow-btn: 0px 2px 9px 0px rgba(0, 0, 0, 0.0532);

$light-mode-elements: $white;
$dark-mode-text: $white;
